@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans.woff) format('woff'),
        url(../fonts/NotoSans.eot) format('eot'),
        url(../fonts/NotoSans.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url(../fonts/NotoSans-Bold.woff) format('woff'),
        url(../fonts/NotoSans-Bold.eot) format('eot'),
        url(../fonts/NotoSans-Bold.ttf) format('ttf');
    font-style: bold;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff) format('woff'),
        url(../fonts/Montserrat-Regular.eot) format('eot'),
        url(../fonts/Montserrat-Regular.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff) format('woff'),
        url(../fonts/Montserrat-Bold.eot) format('eot'),
        url(../fonts/Montserrat-Bold.ttf) format('ttf');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'FontsFree-Net-SFProText-Regular';
    src: url(../fonts/FontsFree-Net-SFProText-Regular.woff) format('woff'),
        url(../fonts/FontsFree-Net-SFProText-Regular.eot) format('eot'),
        url(../fonts/FontsFree-Net-SFProText-Regular.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}


a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

body {
    color: #fff;
    font-family: 'NotoSans', serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    background: #000000;
    color: #FFFFFF;
}

.title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 51px;
    line-height: 62px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.link__btn {
    width: 95px;
    min-height: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 40px;
    background: #FF8B00;
    border-radius: 4px;
    text-transform: uppercase;
    transition: .2s;
    font-size: 14px;
    padding: 30px 10px;
}

.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 90px);
    border: 1px solid red;
    padding: 4% 6%;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:18px;
    border: 1px solid pink;
     max-width: 407px;
    width: 100%; 
}
.logo {
    border: 1px solid white;
    display: flex;
    align-items: center;
}
.logo__img{
    
}
.logo__text{
    fill: #fff;
    
}

.login svg {
    fill: #fff;
    margin-right: 6px;
}

.login span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #FFFFFF;
    border: 1px solid #000000;
}

.header__content {
    display: flex;
    margin-bottom: 74px;
    padding-left: 15px;
}
.header__wraper{
    background: url(../images/header-bavckground-left.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.header_title {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 70px;
    margin: 0 0 129px 0;
    padding-top: 125px;
}

.header__text {
    font-family: 'NotoSans', serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    position: relative;
    padding-left: 100px;
    max-width: 390px;
    width: 100%;
}

.header__text:before {
    content: '';
    position: absolute;
    border-left: 4px solid white;
    width: 2px;
    height: 140px;
    background-color: #fff;
    top: -50px;
    left: 35px;
    transform: rotate(210deg);
}

.header__right{
    padding-right: 80px;
}

.header__download {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 70px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}
.buttons{
padding-right: 65px;
}
.cookie {
    background-color: #212834;
    font-family: 'NotoSans', serif;
    color: #fff;
    position: fixed;
    z-index: 9999;
    bottom: 3vh;
    left: 0;
    right: 0;
}
.cookie__inner {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    max-width: 70%;
    margin: 0 auto;
}
.cookie__text {
}
.cookie__btn {
}


.mission {}

.mission__battons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 236px;
}

.mission__btn {
    max-width: 503px;
    width: 100%;
    height: 312px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 21.371px;
    font-family: 'NotoSans', serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mission__btn span {
    font-size: 24px;
    line-height: 33px;
    text-decoration-line: underline;
}
.wrapper{
     display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mission__wrapper {
    position: relative;
   
}

.mission__wrapper:before {
    content: '';
    position: absolute;
    width: 498px;
    height: 999px;
    background-image: url(../images/phone.png);
    top: -350px;
    left: -40px;
    transform: rotate(90deg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.mission__wrapper:after {
    content: '';
    position: absolute;
    width: 85px;
    height: 85px;
    right: 100px;
    top: 0;
    background: #F101BF;
    opacity: 0.7;
    filter: blur(50px);
    border-radius: 50%;
    z-index: -2;
}

.mission__text {
    font-size: 18px;
   line-height: 25px;
}
.scanner{
  background-image: url(../images/scanner__back.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    
}
.scanner_inner{
    display: flex;
    justify-content: space-between;
    min-height: 1060px;
    height: 100%;
    align-items: flex-end;
}
